/* Color palette based on Vue theme from <https://github.com/vuejs/theme>. */

:root {
  /* Dark mode palette */
  --palette-dark: #0A0908;
  --palette-dark-soft: #1A1918;
  --palette-dark-mute: #2A2928;

  --palette-divider-light-1: rgb(227, 227, 227);
  --palette-divider-light-2: rgba(231, 231, 231, 0.71);
  --palette-divider-light-3: rgba(231, 231, 231, 0.05);
  --color-placeholder-input-field-light: rgba(231, 231, 231, 0.73);

  --palette-link-dark-button-hover: #0052cc;

  --palette-text-dark-1: #95dcff;
  --palette-text-dark-2: #438eb2;
  --palette-text-dark-3: #2b779b;

  --palette-link-dark: #0066cc;
  --palette-link-dark-visited: #3495f5;

  --palette-text-selected-button-dark: #ffffff;

  --palette-required-dark: #e35c7b;

  --palette-lightgreen: lightgreen;
  --palette-lightred: #ff3b3b;
  --palette-lightorange: #eeb143;

  /* Light mode palette */
  --palette-white: #ffffff;
  --palette-white-soft: #f8f8f8;
  --palette-white-mute: rgba(242, 242, 242, 0.44);

  --palette-divider-dark-1: rgba(84, 84, 84, 0.65);
  --palette-divider-dark-2: rgba(84, 84, 84, 0.48);
  --palette-divider-dark-3: rgba(84, 84, 84, 0.05);
  --color-placeholder-input-field-dark: rgba(117, 117, 117, 0.73);

  --palette-link-light-button-hover: #7d4ea8;

  --palette-text-light-1: #EAE0D5;
  --palette-text-light-2: #C6AC8F;
  --palette-text-light-3: #a28159;

  --palette-link-light: #b97cf3;
  --palette-link-light-visited: #551a8b;

  --palette-text-selected-button-light: #ffffff;

  --palette-required-light: #d50000;

  --palette-darkgreen: darkgreen;
  --palette-darkred: #c21313;
  --palette-darkorange: #f5ab25;
}

/* Semantic color variables. */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--palette-white);
    --color-background-soft: var(--palette-white-soft);
    --color-background-mute: var(--palette-white-mute);

    --color-border: var(--palette-divider-dark-2);
    --color-border-hover: var(--palette-divider-dark-1);
    --color-border-opacity-reduced: var(--palette-divider-dark-3);
    --color-placeholder-input-field: var(--color-placeholder-input-field-dark);

    --color-heading: var(--palette-text-light-3);
    --color-text: var(--palette-text-light-2);
    --color-text-soft: var(--palette-text-light-1);

    --color-link: var(--palette-link-light);
    --color-link-visited: var(--palette-link-light-visited);

    --color-button: var(--palette-link-light);
    --color-button-hover: var(--palette-link-light-button-hover);
    --color-button-text-selected: var(--palette-text-selected-button-light);

    --color-shadow: var(--palette-dark-soft);

    --color-required: var(--palette-required-light);

    --color-available: var(--palette-darkgreen);
    --color-unavailable: var(--palette-darkred);
    --color-available-in: var(--palette-darkorange);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--palette-dark);
    --color-background-soft: var(--palette-dark-soft);
    --color-background-mute: var(--palette-dark-mute);

    --color-border: var(--palette-divider-light-2);
    --color-border-hover: var(--palette-divider-light-1);
    --color-border-opacity-reduced: var(--palette-divider-light-3);
    --color-placeholder-input-field: var(--color-placeholder-input-field-light);

    --color-heading: var(--palette-text-dark-3);
    --color-text: var(--palette-text-dark-1);
    --color-text-soft: var(--palette-text-dark-2);
    --color-text-mute: var(--palette-white-mute);

    --color-link: var(--palette-link-dark);
    --color-link-visited: var(--palette-link-light);

    --color-button: var(--palette-link-dark);
    --color-button-hover: var(--palette-link-dark-button-hover);
    --color-button-text-selected: var(--palette-text-selected-button-dark);

    --color-shadow: var(--palette-white);

    --color-required: var(--palette-required-dark);

    --color-available: var(--palette-lightgreen);
    --color-unavailable: var(--palette-lightred);
    --color-available-in: var(--palette-lightorange);
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("@/assets/fonts/HelveticaNeue.ttc") format("truetype");
}

body {
  min-height: 80vh;
  color: var(--color-text-soft);
  background: var(--color-background-mute);
  transition: color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, span {
  font-family: "Helvetica Neue", sans-serif;
  color: var(--color-text);
}

nav,
li,
ul,
ol {
  font-family: "Montserrat", sans-serif;
}

:link,
:visited {
  color: var(--color-link);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: "Montserrat", sans-serif;
  color: var(--color-heading);
}

label,
::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

::placeholder {
  color: var(--color-placeholder-input-field);
}

label {
  color: var(--color-text);
}

td {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: var(--color-heading);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}