.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.user-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
.reservation-view {
  padding: 20px 0px;
  background-color: var(--color-background);
  color: black;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flexdiv {
  margin: 0% 5%;
}

.flexdivtop {
  display: flex;
  margin: 0% 5%;
  align-items: baseline;
  justify-content: space-around;
}

.reservation {
  padding: 1%;
  box-shadow: 0 0 5px 1px var(--color-border);
  border-radius: 5px;
  overflow-y: scroll;
  height: 50vh;
  width: 87vw;
}
::-webkit-scrollbar {
  width: 5px;
}

.reservebutton {
  padding: 10px;
  background-color: var(--color-button);
  color: var(--color-button-text-selected);
  border: solid 1px var(--color-border);
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.reservebutton:hover {
  background-color: var(--color-button-hover);
}

h2 {
  margin: 2% 5%;
}

h3 {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  box-shadow: 0 2px 10px var(--color-shadow);
  display: flex;
  justify-content: space-between;
}

p {
  background-color: var(--color-background);
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--color-shadow);
  text-align: center;
}

p.v-if {
  background-color: #007bff;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}

li.emptyReservation {
  justify-content: center;
}

span.emptyReservation {
  color: var(--color-available);
}

main {
  margin-top: 10vh;
}

.pastReservation {
  text-decoration: line-through;
  text-decoration-color: var(--color-text);
  color: var(--color-text-soft);
  font-style: italic;
  opacity: 0.5;
}

.currentReservation span {
  font-weight: bold;
  text-decoration: underline;
  color: var(--color-required);
}


@media (max-width: 1020px) {
  main {
    margin-top: 13vh;
  }
}