.reservation-view {
    height: 90%;
    padding: 20px 0px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flexdiv {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.reservation {
    padding: 1%;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

p {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

p.v-if {
    background-color: #007BFF;
    color: white;
}