.equipment-reservation {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background-soft);
}

.equipment-reservation .equipment-thumbnail {
    width: 150px;
    height: 75px;
    font-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid black;
    cursor: pointer;
}

@media (max-height: 670px) {
    .equipment-reservation .equipment-thumbnail {
        height: 50px;
    }
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="time"] {
    width: 95%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background);
}

input[type="time"]::-webkit-datetime-edit-fields-wrapper {
    color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

.equipment-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    justify-items: center;
    justify-content: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-button);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--color-button-hover);
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    background-color: var(--color-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close:hover {
    background-color: red;
}