.login-form {
    max-width: 30vw;
    min-width: 350px;
    width: 30vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background-soft);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;

}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background);
    color: var(--color-text);
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-button);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--color-button-hover);
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    background-color: var(--color-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close:hover {
    background-color: red;
}

@media (max-height: 600px) {
    .login-form h2 {
        margin: 0;
        font-size: 1.5em;
    }
    .login-form label {
        margin: 0;
        font-size: 1.0em;
    }
    .login-form input[type="text"], .login-form input[type="password"] {
        padding: 5px 10px 5px 10px;
    }
}