.room-thumbnail {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid black;
    cursor: pointer;
}

.room-title {
    z-index: 1;
}

.availability {
    position: absolute;
    bottom: 10px;
    right: 10px;

    text-align: right;
    font-size: 75%;
}

.availability.available {
    color: green;
}

.availability.unavailable {
    color: red;
}

.availability.available-in {
    color: orange;
}