@import "ModalBasic.css";

input[type="date"],
input[type="time"] {
    width: 95%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background);
}

input[type="time"]::-webkit-datetime-edit-fields-wrapper, input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
    input[type="time"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}