.room-thumbnail {
    width: 200px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    border: 1px solid var(--color-border);
    border-radius: 12px;
    cursor: pointer;

    margin: 2vh 2vw 2vh 2vw;

    background-color: var(--color-background);
    box-shadow: 0 2px 10px var(--color-shadow);
    transition: box-shadow 0.3s ease;
}

.room-thumbnail:hover {
    top: -5px;
    left: -5px;
    box-shadow: 2px 4px 5px var(--color-shadow);
    border: 1px solid var(--color-border-hover);
    transition: box-shadow 0.3s ease;
}

@media (max-height: 585px) {
    .room-thumbnail {
        margin: 10px 2vw 10px 2vw;

        height: 50px;
    }
}

@media (max-width: 950px) {
    .room-thumbnail {
        width: 125px;
        height: 50px;
        font-size: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 1px solid black;
        cursor: pointer;

        margin: 2vh 12px 2vh 12px;
    }

    span.availability {
        bottom: 3px;
        right: 5px;
    }
}

.room-title {
    z-index: 1;
}

.availability {
    position: absolute;
    bottom: 10px;
    right: 10px;

    text-align: right;
    font-size: 75%;
}

.availability.Available {
    color: var(--color-available);
}

.availability.Unavailable {
    color: var(--color-unavailable);
}

.availability.Available-in {
    color: var(--color-available-in);
}

.availability.ERROR {
    color: var(--color-text-mute)
}