.user-panel {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 0px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 2%;
}

.user-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color:var(--color-heading);
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #0056b3;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    background-color: var(--color-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close:hover {
    background-color: red;
}